<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--     bean definitions and by type autowiring here -->
<!--    <bean id="std1" class="org.example.Student" autowire="byType">-->
<!--        <property name="age" value="30"/>-->
<!--        <property name="rno" value="25"/>-->
<!--        <property name="writer" ref="writer"/>-->
<!--    </bean>-->


<!--  Constructor Dependenct Injection (Parameterized)  -->
    <bean id="std1" class="org.example.Student" autowire="constructor">
        <constructor-arg name="0" value="100"/>
        <constructor-arg name="1" value="1"/>
<!--        <constructor-arg name="2" ref="sk1"/>-->
    </bean>

    <bean id="pen1" class="org.example.Pen"/>
    <bean id="pncl1" class="org.example.Pencil"/>
    <bean id="sk1" class="org.example.Sketch" primary="true"/>

<!--    Commented this L16 to check Autowiring by Name in L15 -->
    <!--    <bean id="writer" class="org.example.Pen"/>-->
<!--    <bean id="pen" class="org.example.Pen"/>-->

<!--  BeanDefinitionParsingError (Checking by giving same name for 2 beans atsame instance during Autowiring)-->
<!--    <bean id="writer" class="org.example.Pen"/>-->
<!--    <bean id="writer" class="org.example.Pencil"/>-->

<!--   Comment rest 2 and keep only one bean to check Autowiring byType to avoid UnsatisfiedDependencyException Error -->
<!--   Use Primary = "True" to prefer a type, it is considered only when manual injection is not used -->

<!--    <bean id="pen" class="org.example.Pen" primary="true"/>-->
<!--    <bean id="pncl1" class="org.example.Pencil"/>-->
<!--    <bean id="sk1" class="org.example.Sketch"/>-->


<!--    <bean id="std2" class="org.example.Student">-->
<!--    </bean>-->
<!--    <bean id="tchr1" class="org.example.Teacher">-->
<!--    </bean>-->
</beans>